@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(68, 71, 70);
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 50px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: rgb(249, 245, 245);
    color: rgb(16, 15, 15);
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 10px auto;
   width: 75%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('hp4_img.webp');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 80px;
    background-color: rgba(111, 129, 123, 0.985);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 10px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 75vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 20px;
}

.songItem{
    height: 45px;
    display: flex;
    background-color: rgb(195, 241, 218);
    
    color: rgb(8, 8, 8);
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}

.songItem img{
    width: 45px;
    margin: 0 23px;
    border-radius: 40px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }